.winners-table-head {
  font-weight: 700;
  font-size: 18px;
  @media screen and (max-width: 650px) {
    font-size: 15px;
  }
}

td,
th {
  padding: 10px;
  border: 1px solid #8a8a8a;
  text-align: center;
}

.winners-table {
  width: 100%;
}

.name-col {
  min-width: 250px;
  @media screen and (max-width: 950px) {
    min-width: unset;
  }
}

.wins-col {
  min-width: 157px;
  @media screen and (max-width: 950px) {
    min-width: unset;
  }
}

.time-col {
  min-width: 250px;
  @media screen and (max-width: 950px) {
    min-width: unset;
  }
}

.table-link {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  transition: color .3s;
  font-weight: 700;
  &:hover {
    color: $second_color;
    cursor: pointer;
  }
}