.audio {
  opacity: 1;
  transition: opacity .3s;
}

.track-info {
  display: flex;
  align-items: center;  
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 15px;
  height: 20px;
  @media screen and (max-width: 580px) {
    flex-direction: column;
  }
}

.play-list {
  @media screen and (max-width: 580px) {
    display: none;
  }
}

.current-song {
  text-align: left;
  @media screen and (max-width: 580px) {
    margin-bottom: 5px;
  }
}

.track-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current-time, .full-time {
  width: 40px;
}

.player-controls-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 580px) {
    flex-direction: column;
  }
}

.volume-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 580px) {
    margin-top: 10px;
  }
}

.volume-button {
  background-image: url(../img/icons/volume-off.svg);
  background-image: url(../img/icons/volume.svg);
  background-size: 20px 18px;
}

.volume-button-off {
  background-image: url(../img/icons/volume-off.svg);
}

.progress {
  height: 5px;
  outline: none;
  cursor: pointer;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}

.progress-big {
  background: -webkit-gradient(linear, left top, right top, from(#449bff), color-stop(0%, #449bff), color-stop(0%, #fff), to(#fff));
  background: linear-gradient(to right, #449bff 0%, #449bff 0%, #fff 0%, #fff 100%);
  width: 250px;
  margin-bottom: 15px;
  @media screen and (max-width: 580px) {
    max-width: 150px;
    margin-top: 25px;
  }
}

.progress-small {
  background: -webkit-gradient(linear, left top, right top, from(#449bff), color-stop(100%, #449bff), color-stop(100%, #fff), to(#fff));
  background: linear-gradient(to right, #449bff 0%, #449bff 100%, #fff 100%, #fff 100%);
  width: 100px;
}