:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-light: #ffffff;
  --font-dark: #000000;
  --font-gold: #9d8665;
  --font-active: #7E6C51;
  --font-big: 80px;
  --font-medium: 32px;
  @include media(1250px) {
    --font-big: 50px;
  }
  @include media(900px) {
    --font-big: 40px;
  }
  @include media(500px) {
    --font-big: 28px;
  }
}

html {
  scroll-behavior: smooth
}

body {
  font-family: Forum, sans-serif;
}

img {
  max-width: 100%;
}

a:active {
  color: var(--font-active);
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  @include media(1500px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@include media(1250px) {
  *, *::before, *::after {
    box-sizing: border-box;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// .section {
//   padding-top: 75px;
//   padding-bottom: 75px;
// }

.dark-section {
  background-color: var(--bg-dark);
  color: var(--font-light);
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-size: var(--font-big);
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: normal;
}

.underline-title, {
  position: relative;
}

.gold-title {
  color: var(--font-gold);
}

.underline-title::after {
  content: '';
  position: absolute;
  left: 0;
  top: 115px;
  width: 100%;
  height: 3px;
  background-color: var(--dark-red);
  @include laptop {
    top: 102px;
  }
  @include tablet {
    top: 95px;
  }
  @include mobile {
    top: 84px;
  }
}

.button-up {
  background: #ffebd4;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 20px 25px rgba(87, 87, 87, 0.1);
  opacity: .5;
  display: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' fill='%23505050' xml:space='preserve'%3E%3Cpath d='m374.176 110.386-104-104.504-.019-.018c-7.818-7.832-20.522-7.807-28.314.002l-.019.018-104 104.504c-7.791 7.829-7.762 20.493.068 28.285 7.829 7.792 20.492 7.762 28.284-.067L236 68.442V492c0 11.046 8.954 20 20 20s20-8.954 20-20V68.442l69.824 70.162c7.792 7.829 20.455 7.859 28.284.067 7.831-7.793 7.858-20.457.068-28.285z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  transition: opacity .3s;
}

@media (hover: hover) {
  .button-up:hover {
    opacity: 1;
  }
}

.button-up-visible {
  display: block;
}
