.contacts-section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 103px;
}

.contacts-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: var(--font-dark);
  margin-top: -2px;
  line-height: 34px;
  margin-bottom: 51px;
}

.contacts-details {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: var(--font-dark);
}

.contacts-text a {
  text-decoration: none;
  color: inherit;
  transition: color .3s;
  &:hover {
    color: var(--font-gold);
  }
  &:active {
    color: var(--font-active);
  }
}

.contacts-phone {
  margin-top: 25px;
  margin-bottom: 25px;
}

.contacts-email {
  margin-top: 20px;
}