.contacts-section {
  padding-top: 75px;
  padding-bottom: 70px;
  @include laptop {
    padding-top: 53px;
    padding-bottom: 58px;
  }
  @include tablet {
    padding-top: 25px;
    padding-bottom: 63px;
  }
  @include mobile {
    padding-top: 17px;
    padding-bottom: 36px;
  }
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 103px;
  @include laptop {
    margin-top: 77px;
  }
  @include media(850px) {
    flex-direction: column;
  }
  @include tablet {
    margin-top: 50px;
  }
  @include mobile {
    margin-top: 39px;
  }
}

.contacts-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: var(--font-dark);
  margin-top: -2px;
  line-height: 34px;
  margin-bottom: 51px;
  @include laptop {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 35px;
  }
  @include tablet {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 42px;
  }
  @include mobile {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 40px;
  }
}

.contacts-details {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: var(--font-dark);
  @include laptop {
    font-size: 20px;
    line-height: 23px;
  }
  @include tablet {
    font-size: 18px;
    line-height: 21px;
  }
  @include mobile {
    font-size: 16px;
    line-height: 19px;
  }
}

.contacts-text a {
  text-decoration: none;
  color: inherit;
  transition: color .3s;
  &:hover {
    color: var(--font-gold);
  }
  &:active {
    color: var(--font-active);
  }
}

.contacts-phone {
  margin-top: 25px;
  margin-bottom: 25px;
  @include laptop {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  @include tablet {
    margin-left: -2px;
  }
  @include mobile {
    margin-left: 0;
  }
}

.contacts-email {
  margin-top: 20px;
  @include laptop {
    margin-top: 15px;
  }
}

.contact-img-wrapper {
  @include media(1250px) {
    width: 69%;
  }
  @include laptop {
    width: 70.5%;
    margin-top: -2px;
  }
  @include media(850px) {
    width: 100%;
  }
  @include tablet {
    margin-top: 20px;
  }
  @include mobile {
    margin-top: 24px;
  }
}

.contacts-map {
  object-fit: cover;
  @include laptop {
    height: 454px;
  }
  @include tablet {
    height: 476px;
  }
  @include mobile {
    height: 248px;
  }
}