.header {
  padding-top: 21px;
  padding-bottom: 14px;
  @include media(1100px) {
    padding-top: 44px;
    padding-bottom: 47px;
    margin-bottom: -1px;
  }
  @include tablet{
    padding-top: 35px;
    padding-bottom: 35px;
  }
  @include mobile {
    padding-top: 28px;
    padding-bottom: 26px;
  }
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media(1100px) {
    // margin-bottom: 13px;
  }
}

.logo__img {
  margin-right: 20px;
  fill: var(--font-light);
  transition: fill 1s;
  @include media(500px) {
    width: 29px;
    height: 16px;
  }
}

.logo {
  text-decoration: none;
  color: var(--font-light);
  transition: color 1s;
  margin-top: 6px;
  @include tablet {
    margin-top: 8px;
  }
}

.logo:hover {
  color: var(--font-gold);
}

.logo:active {
  color: var(--font-active);
}

.logo:hover .logo__img {
  fill: var(--font-gold);
}

.logo:active .logo__img {
  fill: var(--font-active);
}

.logo__text {
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  @include media(1100px) {
    font-size: 28px;
    line-height: 31px;
  }
  @include media(500px) {
    font-size: 16px;
    line-height: 18px;
  }
}

.main-menu {
  max-width: 775px;
  @include media(1100px) {
    position: absolute;
    left: -150%;
    width: 297px;
    top: 130px;
    transition: 0.3s;
    overflow-x: hidden;
    background-color: #000;
    z-index: 9999;
    &.menu-active {
      left: 0;
      
      @media screen and (min-width: 421px) and (max-width: 768px) {
        & .menu-img-wrapper {
          display: block;
        }
      }
      @include mobile {
        & .menu-img-mini-wrapper {
          display: flex;
          justify-content: space-between;
          min-width: 310px;
          padding-left: 29px;
          padding-right: 29px;
          margin-top: 23px;
        }
      }
      @include media(400px) {
        & .menu-img-mini-wrapper {
          padding-left: 0;
          padding-right: 0;
          min-width: auto;
        }
      }
      @include mobile {
        margin-top: -24px;
      }
    }
  }
  @include tablet {
    width: 100%;
    margin-top: -5px;
  }
  @include media(500px) {
    margin-top: -27px;
  }
  @include mobile {
    margin-top: -48px;
  }
}

.main-menu__list {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-left: -37px;
  @include media(1100px) {
    flex-direction: column;
    color: #fff;
    overflow-y: hidden;
    margin-top: 22px;
    margin-left: 24px;
  }
  @include tablet {
    margin: 0;
    margin-top: -19px;
    padding: 26px;
    height: auto;
    margin-bottom: 22px;
    width: 100%;
  }
}

.main-menu__item {
  padding: 16px 28px 16px;
  transition: color 1s;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  font-weight: 200;
  @include media(1100px) {
    padding: 0;
    margin-left: 31px;
    width: 122px;
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover .main-menu-arrow {
      fill: var(--font-gold)
    }
  }
}

.main-menu__item:nth-child(4n) {
  margin-right: 2px;
}

.main-menu__item:last-child {
  padding-right: 0;
}

.main-menu__item:hover {
  color: var(--font-gold);
  cursor: pointer;
}

.main-menu__item:active {
  color: var(--font-active);
}

.main-menu__link {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: inherit;
  @include media(1250px) {
    font-size: 20px;
    line-height: 23px;
  }
}

.main-menu-arrow {
  display: none;
  @include media(1100px)  {
    display: block;
    fill: #fff;
    transition: fill 1s;
  }
}

.hamburger {
  display: none;
  @include media(1100px) {
    display: block;
    cursor: pointer;
    & .bar {
      background-color: #fff;
      width: 32px;
      height: 2px;
      display: block;
      transition: background-color .3s, transform .3s;
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
    &:hover .bar {
      background-color: var(--font-gold);
    }

    &.menu-active .bar:nth-child(2) {
      opacity: 0;
    }

    &.menu-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &.menu-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  @include media(500px) {
    margin-top: 5px;
  }
}

.menu-img-wrapper {
  display: none;
  padding: 0;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 23px;
  padding-bottom: 35px;
  max-width: 658px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu-img-1-wrapper {
  width: 100%;
  margin-bottom: 16px;
}

.menu-img-1,
.menu-img-2,
.menu-img-3 {
  overflow: hidden;
  object-fit: cover;
}

.menu-img-3 {
  margin-left: 20px;
}

.menu-img-2-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-wrapper .menu-social-links {
  .footer-social-list {
    display: none;
    @include tablet {
      display: flex;
      margin: 0 auto;
      margin-top: 30px;
      width: 340px;
    }
    @include mobile {
      justify-content: center;
      margin-top: 79px;
      padding-top: 24px;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      width: auto;
      max-width: 310px;
      
    }
  }
  .footer-social-item:not(:last-child) {
    margin-right: 25px;
    @include mobile {
      margin-right: 5px;
    }
  }
}

.menu-img-mini-wrapper {
  display: none;
}

.menu-img-mini {
  overflow: hidden;
  object-fit: cover;
  width: 31%;
  max-width: 95px;
}

@include media(1100px) {
  .hamburger.menu-active {
    margin-right: -3px;
  }
}

@include tablet {
  .main-menu__item {
    margin-left: 30px;
  }
}