.tickets-section {
  padding-top: 75px;
  padding-bottom: 75px;
  z-index: 99;
  @include laptop {
    padding-top: 53px;
    padding-bottom: 59px;
  }
  @include tablet {
    padding-top: 24px;
    padding-bottom: 39px;
  }
  @include mobile {
    padding-top: 16px;
  }
}

.tickets-wrapper {
  margin-top: 103px;
  display: flex;
  justify-content: space-between;
  @include laptop {
    margin-top: 75px;
  }
  @include tablet {
    margin-top: 48px;
  }
  @include media(600px) {
    flex-direction: column;
  }
  @include mobile {
    margin-top: 37px;
  }
}

.tickets-img-wrapper {
  @include laptop {
    flex-basis: 103%;
    height: 440px;
    & img {
      height: 100%;
      object-fit: cover;
    }
  }
  @include media(900px) {
    flex-basis: 80%;
  }
  @include tablet {
    flex-basis: 61%;
    height: 340px;
  }
  @include media(650px) {
    flex-basis: 55%;
  }
  @include mobile {
    height: 200px;
    & img {
      height: 54%;
    }
  }
}

.tickets-type {
  margin-right: 185px;
  margin-left: 6px;
  @include media(1500px) {
    margin-right: 1%;
  }
  @include media(1250px) {
    display: none;
  }
}

.tickets-type-title,
.tickets-amount-title {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: var(--font-dark);
  margin-top: 0;
  margin-bottom: 27px;
}

.radio-label {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: var(--font-dark);
}

.radio-label-first {
  margin-top: 52px !important;
}

/* The container */
.radio-label {
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 25px;
  transition: color 0.3s;
}

.radio-label:hover {
  color: var(--font-gold);
}

.radio-label:active {
  color: var(--font-active);
}

/* Hide the browser's default radio button */
.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 12px;
  width: 12px;
  border: 2px solid #000;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-label:hover input~.checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.radio-label input:checked~.checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-label input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-label .checkmark:after {
  width: 6px;
  height: 6px;
  left: 3px;
  top: 3px;
  border-radius: 50%;
  background: black;
}

.tickets-amount {
  text-align: right;
  @include media(1250px) {
    margin-left: 8%;
    flex-basis: 30%;
    text-align: left;
  }
  @include media(900px) {
    margin-left: 4%;
  }
  @include tablet {
    flex-basis: 30.75%;
  }
  @include media(650px) {
    flex-basis: 36%;
  }
  @include media(600px) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 13px;
    margin-top: 25px;
  }
}

.tickets-amount-title {
  @include laptop {
    margin-bottom: 30px;
  }
  @include tablet {
    margin-bottom: 39px;
  }
  @include mobile {
    margin-top: -120px;
    margin-right: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.tickets-category {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: var(--font-dark);
  margin-top: 10px;
  margin-bottom: 13px;
  margin-left: 25px;
  text-align: left;
  @include laptop {
    margin-left: 0;
    margin-top: 29px;
    margin-bottom: 9px;
  }
  @include tablet {
    margin-top: 25px;
  }
  @include mobile {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-right: 119px;
    margin-top: 19px;
    margin-bottom: 15px;
  }
}

.category-senior {
  @include mobile {
    margin-left: 3px;
  }
}

.tickets-counter {
  border: 3px solid #000;
  padding: 3px 10px;
  display: inline-block;
  @include mobile {
    margin-left: 3px;
  }
}

.tickets-counter button {
  border: none;
  background-color: transparent;
  color: var(--font-dark);
  font-family: Roboto, sans-serif;
  font-size: var(--font-medium);
  line-height: 37px;
}

.tickets-counter input[type=number] {
  background-color: transparent;
  border: none;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--font-dark);
  width: 60px;
  @include laptop {
    width: 89px;
  }
}

.tickets-counter input[type=number]::-webkit-outer-spin-button,
.tickets-counter input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tickets-counter input[type=number] {
  -moz-appearance: textfield;
}

.minus-button {
  padding-left: 0;
  cursor: pointer;
  transition: color 0.3s;
}

.minus-button:hover {
  color: var(--font-gold)
}

.minus-button:active {
  color: var(--font-active)
}

.plus-button {
  padding-right: 0;
  cursor: pointer;
  transition: color 0.3s;
  @include laptop {
    padding-left: 0;
    padding-right: 6px;
  }
  @include mobile {
    padding-left: 4px;
    padding-right: 2px;
  }
}

.plus-button:hover {
  color: var(--font-gold)
}

.plus-button:active {
  color: var(--font-active)
}

.total {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
  color: var(--font-dark);
  margin-top: 51px;
  @include laptop {
    margin-top: 24px;
  }
  @include tablet {
    margin-top: 38px;
  }
  @include mobile {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0;
    margin-right: 15px;
  }
}

.total-text {
  font-weight: inherit;
}

.total-price {
  font-weight: inherit;
  margin-left: 8%;
  @include mobile {
    margin-left: 3px;
  }
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.buy-button {
  background-color: #000;
  border: none;
  padding: 12px 37px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #fff;
  margin-top: 60px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color .5s;
  transition: color .5s;
  position: relative;
  @include laptop {
    margin-top: 70px;
  }
  @include tablet {
    margin-top: 41px;
  }
  @include mobile {
    font-size: 16px;
    line-height: 0px;
    padding: 25px 49px;
    margin-left: 5px;
  }
}

.buy-button:hover {
  background-color: var(--font-gold);
  color: #000;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
