.artists-quiz-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: $main_color;
  text-align: center;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    font-size: 22px;
    margin-top: 40px;
    line-height: 25px;
  }
}

.artists-quiz-picture {
  width: 100%;
  height: 90vw;
  max-height: 700px;
  background-position: 50%;
  background-size: cover;
  margin: 0 auto;
  border-radius: 10px;
}

.artists-quiz-answers-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.artists-quiz-answers-item {
  flex-basis: 49.5%;
  text-align: center;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  background-color: #e8f6ff;
  transition: background-color 0.3s, filter 0.3s;
  margin-bottom: 10px;
  &:hover {
    background-color: #ffebd4;
    filter: drop-shadow(0 0 10px #ffdb8e);
    cursor: pointer;
  }
  @media screen and (max-width: 450px) {
    flex-basis: 100%;
  }
}
