.categories-home-button {
  position: absolute;
  top: -65px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: $main_color;
  border: none;
  background-image: url('../img/home.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 26px;
  border-radius: 10px;
  cursor: pointer;
}

.categories-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: $main_color;
  margin-top: -20px;
  margin-bottom: 70px;
}

.categories-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.categories-item {
  background-color: #fff;
  width: 23%;
  margin-bottom: 24px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  @media screen and (max-width: 900px) {
    width: 31%;
  }
  @media screen and (max-width: 700px) {
    width: 48%;
  }
  @media screen and (max-width: 465px) {
    width: 100%;
    margin-bottom: 15px;
  }
  &.category-done {
    & .category-image {
      filter: unset;
    }
    & .category-number,
    .category-type {
      color: $main_color;
    }
    &:hover .category-score {
      transform: translateY(0);
    }
  }
}

.category-info-wrapper {
  padding: 10px;
  position: relative;
}

.category-done-number {
  position: absolute;
  top: 20px;
  right: 15px;
  font-weight: normal;
  font-size: 24px;
  line-height: 22px;
  text-transform: uppercase;
  color: $main_color;
}

.category-number {
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  text-transform: uppercase;
  color: #555555;
}

.category-type {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000;
}

.category-image {
  width: 100%;
  height: 220px;
  background-size: cover;
  filter: grayscale(100%);
}

.category-score {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  background: rgba($main-color, 0.5);
  box-shadow: 0 0 5px 3px rgba($main-color, 0.5);
  width: 100%;
  padding: 14px 15px 11px 20%;
  text-transform: uppercase;
  transform: translateY(65px);
  overflow: hidden;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: '';
    background-image: url('../img/star.svg');
    background-repeat: no-repeat;
    width: 25px;
    height: 23px;
    position: absolute;
    top: 23%;
    left: 30%;
    background-size: contain;
  }
}
