.outer-container {
  padding-top: 70px;
  padding-bottom: 60px;
}

.logo-wrapper {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 7%;
}

.main-menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.artist-quiz-wrapper {
  width: 96%;
  max-width: 415px;
  height: 415px;
  cursor: pointer;
  background-image: url('../img/main-artists-quiz.jpg');
  background-size: cover;
  position: relative;
  transition: box-shadow .3s;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 20px 25px rgba(112, 112, 112, 0.5);
  }
  @media screen and (max-width: 900px) {
    background-position: 50%;
    width: 96%;
    max-width: 500px;
    height: 320px;
    margin-bottom: 50px;
  }
}

.pictures-quiz-wrapper {
  width: 96%;
  max-width: 415px;
  height: 415px;
  cursor: pointer;
  background-image: url('../img/main-pictures-quiz.jpg');
  background-size: cover;
  position: relative;
  transition: box-shadow .3s;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 20px 25px rgba(112, 112, 112, 0.5);
  }
  @media screen and (max-width: 900px) {
    width: 96%;
    // background-position: 50%;
    max-width: 500px;
    height: 320px;
  }
}

.quiz-title {
  font-size: 36px;
  font-weight: normal;
  line-height: 44px;
  text-align: right;
  text-transform: uppercase;
  color: $main_color;
  position: absolute;
  right: 0;
  bottom: -90px;
  width: 100%;
  @media screen and (max-width: 900px) {
    background: rgba(255, 255, 255, 0.75);
    bottom: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }
}

.text-bold {
  font-weight: 700;
}

.main-btn-wrapper {
  width: 150px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 40px;
  @media screen and (max-width: 900px) {
    margin-top: 80px;
    margin-bottom: 20px;
  }
}

.settings-button {
  padding: 14px 10px 14px 53px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  &::before {
    content: '';
    background-image: url('../img/settings.svg');
    width: 45px;
    height: 45px;
    position: absolute;
    top: 3px;
    left: 3px;
  }
}