.popup {
  position: fixed;
  left: -150%;
  width: 90%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  background-color: #fff;
  transition: left 0.5s;
  z-index: 999;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;

  &.active {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media screen and (max-width: 500px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.popup-sign {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.popup-picture {
  width: 96%;
  max-width: 400px;
  height: 90vw;
  max-height: 400px;
  background-position: 50%;
  background-size: cover;
  margin: 0 auto;
  border-radius: 5px;
  @media screen and (max-width: 500px) {
    height: 70vw;
  }
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  backdrop-filter: blur(3px);
}

#overlay.active {
  display: block;
}

.popup-info-wrapper {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.button-popup-next {
  padding: 14px 50px;
  margin-left: 15px;
  @media screen and (max-width: 370px) {
    margin-left: 0;
    margin-top: 10px;
  }
}

.button-popup-download {
  padding: 14px 27.5px;
}

.pagination-wrapper {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 15px;
  max-width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination-item {
  width: 15px;
  height: 15px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #f1f1f1;
}

.pagination-correct {
  background-color: #5ad13c;
  border: none;
  filter: drop-shadow(0 0 3px #5ad13c);
}

.pagination-wrong {
  background-color: #be3138;
  border: none;
  filter: drop-shadow(0 0 3px #be3138);
}

.text-results {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $main_color;
}

.congratulation {
  font-size: 36px;
  line-height: 44px;
  @media screen and (max-width: 600px) {
    font-size: 22px;
    line-height: 36px;
  }
}

.score-results {
  font-size: 96px;
  line-height: 117px;
  margin-top: 65px;
  margin-bottom: 50px;
  @media screen and (max-width: 600px) {
    font-size: 36px;
    line-height: 44px;
  }
  @media screen and (max-width: 500px) {
    margin-top: 35px;
    margin-bottom: 30px;
  }
}

.congratulation-picture-wrapper {
  width: 207px;
  height: 172px;
  margin: 0 auto;
}

.popup-btn-wrapper {
  max-width: 325px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.button-popup-home {
  padding: 14px 50px;
  text-transform: uppercase;
}

.button-popup-next-quiz {
  padding: 14px 32px;
  text-transform: uppercase;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.timer-img {
  width: 40px;
  height: 47px;
}

.timer-text {
  font-family: ArialMT, sans-serif;
  margin-left: 10px;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: $main_color;
  margin-top: 5px;
  width: 90px;
}

.right-answer {
  background-color: #8be675;
  &:hover {
    background-color: #8be675;
  }
}

.wrong-answer {
  background-color: #df948f;
  &:hover {
    background-color: #df948f;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
}

.animated {
  animation-name: fadeInUp;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.fade-in-1 {
  animation-delay: 100ms;
}
.fade-in-2 {
  animation-delay: 200ms;
}
.fade-in-3 {
  animation-delay: 300ms;
}
.fade-in-4 {
  animation-delay: 400ms;
}
.fade-in-5 {
  animation-delay: 500ms;
}
.fade-in-6 {
  animation-delay: 600ms;
}
.fade-in-7 {
  animation-delay: 700ms;
}
.fade-in-8 {
  animation-delay: 100ms;
}
.fade-in-9 {
  animation-delay: 200ms;
}
.fade-in-10 {
  animation-delay: 300ms;
}
.fade-in-11 {
  animation-delay: 400ms;
}

.progress-timer {
  width: 100%;
  height: 3px;
  background-color: $main-color;
  filter: drop-shadow(0 0 1px $main-color);
  margin-bottom: 15px;
  border-radius: 20px;
  overflow: hidden;
  transition: width .3s ease-in-out;
}

.container-results ~ .fullscreen-icon-wrapper {
  display: none;
}

.container-results ~ footer {
  display: none;
}