.footer {
  padding-top: 77px;
  padding-bottom: 50px;
  @include laptop {
    padding-top: 60px;
  }
  @include tablet {
    padding-top: 48px;
  }
  @include mobile {
    padding-top: 40px;
  }
}

.footer .logo {
  margin-top: 0;
  @include tablet {
    width: 38%;
  }
  @include media(500px) {
    width: 100%;
  }
  & .logo__img {
    @include mobile {
      margin-right: 16px;
    }
  }
}

.footer-wrapper {
  display: flex;
  @include tablet {
    flex-wrap: wrap;
  }
}

.footer-nav {
  @include tablet {
    width: 62%;
  }
}

.footer-nav-list {
  list-style: none;
  padding-left: 0;
  width: 366px;
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 142px;
  margin-top: -1px;
  @include media(1250px) {
    margin-left: 15%;
  }
  @include laptop {
    margin-left: 11.25%;
    margin-top: -4px;
  }
  @include media(900px) {
    width: auto;
    margin-left: 20px;
  }
  @include media(500px) {
    margin-left: 0;
    margin-top: 40px;
    height: 135px;
  }
  @include mobile {
    margin-top: 26px;
  }
}

.footer-nav-item {
  width: 256px;
  @include media(1250px) {
    width: 207px;
  }
  @include media(900px) {
    width: 100px;
  }
  @include tablet {
    width: 59%;
    &:nth-child(4) {
      width: 40%;
    }
    &:nth-child(5) {
      width: 40%;
    }
    &:nth-child(6) {
      width: 40%;
    }
  }
  @include mobile {
    width: 68%;
    &:nth-child(5) {
      margin-left: -18px;
    }
    &:nth-child(6) {
      margin-left: -18px;
    }
  }
}

.footer-nav-item:hover .footer-nav-link {
  color: var(--font-gold);
}

.footer-nav-item:active .footer-nav-link  {
  color: var(--font-active);
}

.footer-nav-link {
  font-family: Roboto,
  sans-serif;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: var(--font-light);
  text-decoration: none;
  transition: color 1s;
  @include tablet {
    font-size: 18px;
    line-height: 47px;
  }
  @include mobile {
    font-size: 16px;
    letter-spacing: 2px;
  }
}

.footer-social-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-self: flex-end;
  margin-left: auto;
  overflow-x: hidden;
  @include tablet {
    margin-right: 12.5%;
    margin-top: 10px;
  }
  @include media(500px) {
    margin-left: auto;
    margin-right: auto;
  }
  @include mobile {
    margin-top: -30px;
  }
}

.footer-social-item {
  margin-bottom: 16px;
  @include laptop {
    margin-bottom: 13px;
  }
}

.footer-social-item:not(:last-child) {
  margin-right: 23px;
  @include laptop {
    margin-right: 25px;
  }
  @include media(900px) {
    margin-right: 15px;
  }
  @include tablet {
    margin-right: 25px;
  }
  @include mobile {
    margin-right: 5px;
  }
}

.footer-social-item:hover .footer-social-img {
  fill: var(--font-gold);
}

.footer-social-item:active .footer-social-img {
  fill: var(--font-active);
}

.footer-social-item:hover .footer-social-img-wrapper {
  border: 1px solid #9d8665;
}

.footer-social-item:active .footer-social-img-wrapper {
  border: 1px solid #7E6C51;
}

.footer-social-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 48px;
  height: 48px;
  border: 1px solid #666666;
  filter: drop-shadow(0px 0px 0px #666666);
  border-radius: 50px;
  transition: all 1s;
}

.footer-social-img {
  fill: #ffffff;
  transition: fill 1s;
}

footer::after {
  content: '';
  width: 100%;
  height: 3px;
  display: block;
  background-color: #666666;
  position: relative;
  bottom: 76px;
  @include tablet {
    height: 1px;
    bottom: 64px;
  }
}

.footer-info-wrapper {
  margin-top: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #fff;
  & a {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
    &:hover {
      color: var(--font-gold);
    }
    &:active {
      color: var(--font-active);
    }
  }
  @include tablet {
    margin-top: 53px;
  }
}

.footer-school {
  margin-left: 45px;
  @include media(650px) {
    display: none;
  }
}

.footer-info-wrapper {
  @include mobile {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
  }
}

.footer-copyright {
  @include mobile {
    margin-left: 4px;
  }
}
