<section class="section light-section contacts-section" id="contacts">
  <div class="container">
    <h2 class="section-title gold-title underline-title">Contacts</h2>
    <div class="contacts-wrapper">
      <div class="contacts-text">
        <p class="contacts-title">Palais Royal<br>Musee du Louvre</p>
        <address class="contacts-details">address: 75001 Paris, France</address>
        <p class="contacts-details contacts-phone">phone: <a href="tel:+330140205050" class="contacts-phone-link">+33(0) 1 40 20 50 50</a></p>
        <p class="contacts-details contacts-email">mail: <a href="mailto:info@louvre.fr" class="contacts-email-link">info@louvre.fr</a></p>
      </div>
      <div class="contact-img-wrapper">
        <picture>
          <source media="(min-width: 769px) and (max-width: 1024px)" srcset="assets/img/map-1024.png">
          <source media="(min-width: 421px) and (max-width: 768px)" srcset="assets/img/map-768.png">
          <source media="(max-width: 420px)" srcset="assets/img/map-420.png">
          <img class="contacts-map" src="assets/img/map.png" alt="Map to Louvre" width="960" height="620">
        </picture>
      </div>
    </div>
  </div>
</section>