<section class="section light-section video-section" id="video">
  <div class="container">
    <div class="video-info">
      <h2 class="section-title video-title">Video journey</h2>
      <p class="video-text">Enter and visit one of the most famous museums in the world and enjoy masterpieces such as
        Mona
        Lisa or Hammurabi's Code</p>
    </div>
    <div class="img-wrapper">
      <video class="videopleer" width="1440" height="650" src="assets/video/video0.mp4" poster="assets/video/poster0.jpg"></video>
      <button class="video-button">
        <svg class="video-button-img" width="220" height="220">
          <title>Play</title>
          <use href="assets/icons/sprite.svg#play-big"></use>
        </svg>
      </button>
    </div>
    <div class="control-panel">
      <button class="play pleer-button">
        <svg class="pleer-button-svg" width="23" height="30">
          <title>Play</title>
          <use href="assets/icons/sprite.svg#play"></use>
        </svg>
      </button>
      <input type="range" value="40" min="0" max="100" step="1" class="progress progress-big">
      <button class="volume pleer-button">
        <svg class="pleer-button-svg" width="38" height="30">
          <title>Volume</title>
          <use href="assets/icons/sprite.svg#volume"></use>
        </svg>
      </button>
      <input type="range" value="40" min="0" max="100" step="1" class="progress progress-small">
      <button class="fullscreen pleer-button">
        <svg class="pleer-button-svg" width="36" height="36">
          <title>Fullscreen mode</title>
          <use href="assets/icons/sprite.svg#fullscreen"></use>
        </svg>
      </button>
    </div>
    <div class="video-slider-wrapper">
      <div class="iframe-outer-wrapper">
        <div class="iframe-wrapper">
          <a class="video__link" href="https://youtu.be/aWmJ5DgyWPI">
            <picture>
              <source srcset="assets/video/poster3.webp" type="image/webp">
              <img class="video__media" src="assets/video/poster3.jpg" alt="">
            </picture>
          </a>
          <button class="video__btn">
            <svg width="68" height="48" viewBox="0 0 68 48">
              <path class="video__btn-shape"
                d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z">
              </path>
              <path class="video__btn-icon" d="M 45,24 27,14 27,34"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="iframe-outer-wrapper">
        <div class="iframe-wrapper">
          <a class="video__link" href="https://youtu.be/Vi5D6FKhRmo">
            <picture>
              <source srcset="assets/video/poster1.webp" type="image/webp">
              <img class="video__media" src="assets/video/poster1.jpg" alt="">
            </picture>
          </a>
          <button class="video__btn">
            <svg width="68" height="48" viewBox="0 0 68 48">
              <path class="video__btn-shape"
                d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z">
              </path>
              <path class="video__btn-icon" d="M 45,24 27,14 27,34"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="iframe-outer-wrapper">
        <div class="iframe-wrapper">
          <a class="video__link" href="https://youtu.be/NOhDysLnTvY">
            <picture>
              <source srcset="assets/video/poster2.webp" type="image/webp">
              <img class="video__media" src="assets/video/poster2.jpg" alt="">
            </picture>
          </a>
          <button class="video__btn">
            <svg width="68" height="48" viewBox="0 0 68 48">
              <path class="video__btn-shape"
                d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z">
              </path>
              <path class="video__btn-icon" d="M 45,24 27,14 27,34"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="video-slider-controls">
      <button class="video-slider-arrow">
        <svg class="video-slider-arrow-left" width="10" height="12">
          <use href="assets/icons/sprite.svg#double-arrow"></use>
        </svg>
      </button>
      <div class="video-slider-dots">
        <button class="video-slider-dots-item active"></button>
        <button class="video-slider-dots-item"></button>
        <button class="video-slider-dots-item"></button>
        <button class="video-slider-dots-item"></button>
        <button class="video-slider-dots-item"></button>
      </div>
      <button class="video-slider-arrow">
        <svg class="video-slider-arrow-right" width="10" height="12">
          <use href="assets/icons/sprite.svg#double-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>