<section class="section dark-section welcome-section">
  <div class="container">
    <div class="welcome-container">
      <div class="welcome-info">
        <h2 class="section-title welcome-title">Welcome<br>to the Louvre</h2>
        <p class="welcome-text">From the castle to the museum</p>
        <a class="welcome-button" href="tours/tour1.html" target="_blank">Discover the Louvre</a>
      </div>
      <div class="welcome-image-wrapper">
        <picture>
          <source media="(max-width: 420px)" srcset="assets/img/welcome-slider/1_mobile.webp" type="image/webp">
          <source media="(max-width: 420px)" srcset="assets/img/welcome-slider/1_mobile.jpg">
          <source srcset="assets/img/welcome-slider/1.webp" type="image/webp">
          <img src="assets/img/welcome-slider/1.jpg" alt="welcome slide" class="welcome-image">
        </picture>
        <div class="welcome-controls">
          <div class="slider-counter">
            <span class="current-slider">01</span>
            <span class="slider-counter-divider">|</span>
            <span class="total-sliders">05</span>
          </div>
          <div class="slider-pagination">
            <div class="slider-pagination-item active"></div>
            <div class="slider-pagination-item"></div>
            <div class="slider-pagination-item"></div>
            <div class="slider-pagination-item"></div>
            <div class="slider-pagination-item"></div>
          </div>
          <div class="slider-arrows">
            <button class="slider-arrow">
              <svg class="slider-arrow-left" width="30" height="8">
                <use href="assets/icons/sprite.svg#arrow"></use>
              </svg>
            </button>
            <button class="slider-arrow">
              <svg class="slider-arrow-right" width="30" height="8">
                <use href="assets/icons/sprite.svg#arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>