.footer {
  padding-top: 77px;
  padding-bottom: 50px;
}

.footer .logo {
  margin-top: 0;
}

.footer-wrapper {
  display: flex;
  // justify-content: space-between;
}

.footer-nav-list {
  list-style: none;
  padding-left: 0;
  width: 366px;
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 142px;
  margin-top: -1px;
}

.footer-nav-item {
  width: 256px;
}

.footer-nav-item:hover .footer-nav-link {
  color: var(--font-gold);
}

.footer-nav-item:active .footer-nav-link  {
  color: var(--font-active);
}

.footer-nav-link {
  font-family: Roboto,
  sans-serif;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: var(--font-light);
  text-decoration: none;
  transition: color 1s;
}

.footer-social-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-self: flex-end;
  margin-left: auto;
}

.footer-social-item {
  margin-bottom: 16px;
}

.footer-social-item:not(:last-child) {
  margin-right: 23px;
}

.footer-social-item:hover .footer-social-img {
  fill: var(--font-gold);
}

.footer-social-item:active .footer-social-img {
  fill: var(--font-active);
}

.footer-social-item:hover .footer-social-img-wrapper {
  border: 1px solid #9d8665;
}

.footer-social-item:active .footer-social-img-wrapper {
  border: 1px solid #7E6C51;
}

.footer-social-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 48px;
  height: 48px;
  border: 1px solid #666666;
  filter: drop-shadow(0px 0px 0px #666666);
  border-radius: 50px;
  transition: all 1s;
}

.footer-social-img {
  fill: #ffffff;
  transition: fill 1s;
}

footer::after {
  content: '';
  width: 100%;
  height: 3px;
  display: block;
  background-color: #666666;
  position: relative;
  bottom: 76px;
}

.footer-info-wrapper {
  margin-top: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #fff;
  & a {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
    &:hover {
      color: var(--font-gold);
    }
    &:active {
      color: var(--font-active);
    }
  }
}

.footer-school {
  margin-left: 45px;
}
