.welcome-section {
  padding-top: 30px;
  padding-bottom: 55px;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

.welcome-info {
  width: 400px;
  z-index: 99;
}

.welcome-title {
  margin-top: 124px;
  margin-bottom: 26px;
  width: 598px;
}

.welcome-text {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  width: 445px;
  margin: 0;
}

.welcome-button {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: var(--font-light);
  text-decoration: none;
  background-color: var(--dark-red);
  padding: 25px 68px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 74px;
  margin-left: -2px;
  transition: background-color 1s;
}

.welcome-button:hover {
  background-color: var(--font-gold);
}

.welcome-image-wrapper {
  margin-top: -25px;
  position: relative;
}

.welcome-image {
  -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1.0) 68%, transparent 100%);
}

.welcome-controls {
  background-color: #030303;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 120px;
  position: absolute;
  right: 0;
  bottom: -55px;
}

.slider-counter {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  color: #fff;
  margin-left: 73px;
  margin-top: 1px;
}

.slider-counter-divider {
  margin-right: 5px;
  margin-left: 5px;
}

.slider-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin-bottom: 1px;
  margin-right: 1px;
}

.slider-pagination-item {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: none;
  display: block;
  transition: background-color .3s;
  &.active {
    background-color: #D2B183;
  }
  &:hover {
    background-color: #9D8665;
  }
}

.slider-arrows {
  margin-right: 74px;
  margin-top: -4px;
}

.slider-arrow {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  & svg {
    fill: #fff;
    transition: fill .3s;
    &:hover {
      fill: #9D8665;
    }
  }
}

.slider-arrow-left {
  margin-right: 18px;
}

.slider-arrow-right {
  transform: rotate(180deg);
}