<!-- linthtml-configure doctype-first=false -->

<% const obj = { title: "Louvre museum site", styles: [] }; %>
<% if (process.env.NODE_ENV === "production" || true) { obj.styles = ["css/style.css"] }; %> 
<%- include("includes/header.html", obj); %>

  <main class="main">
    <h1 class="visuallyhidden">Louvre museum site</h1>
    <%- include("includes/welcome.html"); %>

    <%- include("includes/visiting.html"); %>

    <%- include("includes/explore.html"); %>

    <%- include("includes/video.html"); %>

    <%- include("includes/gallery.html"); %>

    <%- include("includes/tickets.html"); %>

    <%- include("includes/parallax.html"); %>

    <%- include("includes/contacts.html"); %>

    <!-- <%- include("includes/tickets-popup.html"); %> -->
  </main>

  <div id="overlay"></div>

<%- include("includes/footer.html", { scripts: ["js/main.js"] }); %>