<section class="section light-section contacts-section" id="contacts">
  <div class="container">
    <h2 class="section-title gold-title underline-title">Contacts</h2>
    <div class="contacts-wrapper">
      <div class="contacts-text">
        <p class="contacts-title">Palais Royal<br>Musee du Louvre</p>
        <address class="contacts-details">address: 75001 Paris, France</address>
        <p class="contacts-details contacts-phone">phone: <a href="tel:+330140205050" class="contacts-phone-link">+33(0) 1 40 20 50 50</a></p>
        <p class="contacts-details contacts-email">mail: <a href="mailto:info@louvre.fr" class="contacts-email-link">info@louvre.fr</a></p>
      </div>
      <div class="contact-map-wrapper" id="map"></div>
    </div>
  </div>
</section>