<section class="section dark-section explore-section" id="explore">
  <div class="container explore-container">
    <div class="explore-info">
      <h2 class="section-title underline-title explore-title">Picture explore</h2>
      <div class="explore-text-wrapper">
        <p class="explore-text explore-text-tablet-hidden">Las Meninas is a 1656 painting by Diego Velázquez, the leading artist of the Spanish
          Golden Age.</p>
        <p class="explore-text explore-text-tablet-hidden">It was cleaned in 1984 to remove a <span>"yellow veil"</span> of dust that had gathered
          since the previous restoration in the 19th century.</p>
        <p class="explore-text explore-text-desktop">The cleaning provoked furious protests, not because the picture had been damaged in any
          way, but because it looked
          different.</p>
      </div>
    </div>
    <div id="slider-comparison">
      <picture>
        <source srcset="assets/img/explore-slider/before.webp" type="image/webp">
        <img src="assets/img/explore-slider/before.jpg" alt="Las Meninas picture before" />
      </picture>
      <picture>
        <source srcset="assets/img/explore-slider/after.webp" type="image/webp">
        <img src="assets/img/explore-slider/after.jpg" alt="Las Meninas picture after" />
      </picture>
    </div>
  </div>
</section>