<section class="section tickets-section" id="tickets">
  <div class="container">
    <h2 class="section-title gold-title underline-title">Buy tickets</h2>
    <div class="tickets-wrapper">
      <div class="tickets-img-wrapper">
        <picture>
          <source srcset="assets/img/tickets-img.webp" type="image/webp">
          <img src="assets/img/tickets-img.jpg" alt="Tickets image" class="tickets-img" width="720" height="550">
        </picture>
      </div>
      <div class="tickets-type">
        <p class="tickets-type-title">Ticket Type</p>
        <label class="radio-label radio-label-first">Permanent exhibition
          <input type="radio" name="ticket-type" value="permanent" checked>
          <span class="checkmark"></span>
        </label>
        <label class="radio-label">Temporary exhibition
          <input type="radio" name="ticket-type" value="temporary">
          <span class="checkmark"></span>
        </label>
        <label class="radio-label">Combined Admission
          <input type="radio" name="ticket-type" value="combined">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="tickets-amount">
        <p class="tickets-amount-title">Amount</p>
        <p class="tickets-category category-basic">Basic 18+</p>
        <div class="tickets-counter">
          <button class="minus-button minus-button-basic" type="button">–</button>
          <input type="number" min="0" max="20" value="0" readonly class="input-number basic-number">
          <button class="plus-button plus-button-basic" type="button">+</button>
        </div>
        <p class="tickets-category category-senior">Senior 65+</p>
        <div class="tickets-counter">
          <button class="minus-button minus-button-senior" type="button">–</button>
          <input type="number" min="0" max="20" value="0" readonly class="input-number senior-number">
          <button class="plus-button plus-button-senior" type="button">+</button>
        </div>
        <div class="total"><span class="total-text">Total €</span><span class="total-price">0</span></div>
        <button class="buy-button ripple-btn">Buy Now</button>
      </div>
    </div>
  </div>
</section>