<section class="section light-section video-section" id="video">
  <div class="container">
    <div class="video-info">
      <h2 class="section-title video-title">Video journey</h2>
      <p class="video-text">Enter and visit one of the most famous museums in the world and enjoy masterpieces such as Mona Lisa or Hammurabi's Code</p>
    </div>
    <div class="video-wrapper">
      <video class="videopleer" width="1440" height="650" src="assets/video/video0.mp4" poster="assets/video/poster0.jpg"></video>
      <button class="video-button play-button-big">
        <svg class="video-button-img" width="220" height="220">
          <title>Play</title>
          <use href="assets/icons/sprite.svg#play-big"></use>
        </svg>
      </button>
      <div class="alert-message"></div>
      <div class="control-panel">
        <button class="play-button pleer-button">
          <svg class="pleer-button-svg" width="23" height="30">
            <title>Play</title>
            <use href="assets/icons/sprite.svg#play"></use>
          </svg>
        </button>
        <button class="pause pleer-button pause-button">
          <svg class="pleer-button-svg" width="23" height="30">
            <title>Pause</title>
            <use href="assets/icons/sprite.svg#pause"></use>
          </svg>
        </button>
        <input type="range" value="0" min="0" max="100" step=".05" class="progress progress-big">
        <div class="volume-controls">
          <button class="volume pleer-button">
            <svg class="pleer-button-svg" width="38" height="30">
              <title>Volume</title>
              <use href="assets/icons/sprite.svg#volume"></use>
            </svg>
          </button>
          <button class="volume-off pleer-button">
            <svg class="pleer-button-svg" width="38" height="30">
              <title>Volume off</title>
              <use href="assets/icons/sprite.svg#volume-off"></use>
            </svg>
          </button>
        </div>
        <input type="range" name="volume" value="1" min="0" max="1" step=".05" class="progress progress-small">
        <button class="fullscreen pleer-button">
          <svg class="pleer-button-svg" width="36" height="36">
            <title>Fullscreen mode</title>
            <use href="assets/icons/sprite.svg#fullscreen"></use>
          </svg>
        </button>
        <button class="fullscreen-off pleer-button">
          <svg class="pleer-button-svg" width="36" height="36">
            <title>Fullscreen mode off</title>
            <use href="assets/icons/sprite.svg#fullscreen-off"></use>
          </svg>
        </button>
      </div>
    </div>
    <!-- <div class="swiper-video">
      <div class="swiper-wrapper video-slider-wrapper">
        <div class="swiper-slide">
          <div class="iframe-outer-wrapper">
            <div class="iframe-wrapper">
              <iframe class="yt-iframe" width="560" height="315" src="https://www.youtube.com/embed/zp1BXPX8jcU?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="iframe-outer-wrapper">
            <div class="iframe-wrapper">
              <iframe class="yt-iframe" width="560" height="315" src="https://www.youtube.com/embed/Vi5D6FKhRmo?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="iframe-outer-wrapper">
            <div class="iframe-wrapper">
              <iframe class="yt-iframe" width="560" height="315" src="https://www.youtube.com/embed/NOhDysLnTvY?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="iframe-outer-wrapper">
            <div class="iframe-wrapper">
              <iframe class="yt-iframe" width="560" height="315" src="https://www.youtube.com/embed/aWmJ5DgyWPI?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="iframe-outer-wrapper">
            <div class="iframe-wrapper">
              <iframe class="yt-iframe" width="560" height="315" src="https://www.youtube.com/embed/2OR0OCr6uRE?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="video-slider-controls">
        <button class="video-slider-prev video-slider-arrow">
          <svg class="video-slider-arrow-left" width="10" height="12">
            <use href="assets/icons/sprite.svg#double-arrow"></use>
          </svg>
        </button>
        <div class="video-slider-dots">
          <button class="video-slider-dots-item active"></button>
          <button class="video-slider-dots-item"></button>
          <button class="video-slider-dots-item"></button>
          <button class="video-slider-dots-item"></button>
          <button class="video-slider-dots-item"></button>
        </div>
        <button class="video-slider-next video-slider-arrow">
          <svg class="video-slider-arrow-right" width="10" height="12">
            <use href="assets/icons/sprite.svg#double-arrow"></use>
          </svg>
        </button>
      </div>
    </div> -->
  </div>
</section>