<section class="section light-section visiting-section" id="visiting">
  <div class="container">
    <h2 class="section-title gold-title underline-title">Virtual tour</h2>
    <div class="card-wrapper">
      <a class="card-item" href="tours/tour2.html" target="_blank">
        <picture>
          <source srcset="assets/img/card-img-1.webp" type="image/webp">
          <img class="card-image" width="440" height="285" src="assets/img/card-img-1.jpg" alt="Image of Royal palace">
        </picture>
        <h3 class="card-title">Royal palace</h3>
        <p class="card-additional">360° Virtual Tour</p>
        <p class="card-source">Google Street Panorama View</p>
      </a>
      <a class="card-item" href="tours/tour3.html" target="_blank">
        <picture>
          <source srcset="assets/img/card-img-2.webp" type="image/webp">
          <img class="card-image" width="440" height="285" src="assets/img/card-img-2.jpg" alt="Image of Denon Wing">
        </picture>
        <h3 class="card-title">Denon Wing</h3>
        <p class="card-additional">360° Virtual Tour</p>
        <p class="card-source">Google Street Panorama View</p>
      </a>
      <a class="card-item" href="tours/tour4.html" target="_blank">
        <picture>
          <source srcset="assets/img/card-img-3.webp" type="image/webp">
          <img class="card-image" width="440" height="285" src="assets/img/card-img-3.jpg" alt="Image of Colonnade Perrault">
        </picture>
        <h3 class="card-title">Colonnade Perrault</h3>
        <p class="card-additional">360° Virtual Tour</p>
        <p class="card-source">Google Street Panorama View</p>
      </a>
      <a class="card-item" href="tours/tour5.html" target="_blank">
        <picture>
          <source srcset="assets/img/card-img-4.webp" type="image/webp">
          <img class="card-image" width="440" height="285" src="assets/img/card-img-4.jpg" alt="Image of Greek hall">
        </picture>
        <h3 class="card-title">Greek hall</h3>
        <p class="card-additional">360° Virtual Tour</p>
        <p class="card-source">Google Street Panorama View</p>
      </a>
      <a class="card-item" href="tours/tour6.html" target="_blank">
        <picture>
          <source srcset="assets/img/card-img-5.webp" type="image/webp">
          <img class="card-image" width="440" height="285" src="assets/img/card-img-5.jpg" alt="Image of Mona lisa">
        </picture>
        <h3 class="card-title">Mona lisa</h3>
        <p class="card-additional">360° Virtual Tour</p>
        <p class="card-source">Google Street Panorama View</p>
      </a>
      <a class="card-item" href="tours/tour7.html" target="_blank">
        <picture>
          <source srcset="assets/img/card-img-6.webp" type="image/webp">
          <img class="card-image" width="440" height="285" src="assets/img/card-img-6.jpg" alt="Image of Night palace">
        </picture>
        <h3 class="card-title">Night palace</h3>
        <p class="card-additional">360° Virtual Tour</p>
        <p class="card-source">Google Street Panorama View</p>
      </a>
    </div>
  </div>
</section>