<section class="section light-section contacts-section" id="contacts">
  <div class="container">
    <h2 class="section-title underline-title">Contacts</h2>
    <div class="contacts-wrapper">
      <div class="contacts-text">
        <p class="contacts-title">Palais Royal<br>Musee du Louvre</p>
        <address class="contacts-details">address: 75001 Paris, France</address>
        <p class="contacts-details contacts-phone">phone: +33(0) 1 40 20 50 50</p>
        <p class="contacts-details contacts-email">mail: info@louvre.fr</p>
      </div>
      <img class="contacts-map" src="assets/img/map.png" alt="Map to Louvre" width="960" height="620">
    </div>
  </div>
</section>