<section class="section dark-section explore-section" id="explore">
  <div class="container explore-container">
    <div class="explore-info">
      <h2 class="section-title underline-title">Picture explore</h2>
      <div class="explore-text-wrapper">
        <p class="explore-text">Las Meninas is a 1656 painting by Diego Velázquez, the leading artist of the Spanish
          Golden Age.</p>
        <p class="explore-text">It was cleaned in 1984 to remove a <span>"yellow veil"</span> of dust that had gathered
          since the previous restoration in the 19th century.</p>
        <p class="explore-text">The cleaning provoked furious protests, not because the picture had been damaged in any
          way, but because it looked
          different.</p>
      </div>
    </div>
    <img src="assets/img/las-meninas.jpg" alt="Las Meninas picture" class="explore-img" width="720" height="700">
  </div>
</section>