<!-- linthtml-configure doctype-first=false -->

<footer class="footer dark-section">
  <div class="container">
    <div class="footer-wrapper">
      <a class="logo" href="#">
        <svg class="logo__img" width="49" height="26">
          <title>Louvre logo</title>
          <use href="assets/icons/sprite.svg#logo"></use>
        </svg>
        <span class="logo__text">Louvre</span>
      </a>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="#visiting" class="footer-nav-link">Visiting</a>
          </li>
          <li class="footer-nav-item">
            <a href="#explore" class="footer-nav-link">Explore</a>
          </li>
          <li class="footer-nav-item">
            <a href="#video" class="footer-nav-link">Video</a>
          </li>
          <li class="footer-nav-item">
            <a href="#gallery" class="footer-nav-link">Gallery</a>
          </li>
          <li class="footer-nav-item">
            <a href="#tickets" class="footer-nav-link">Tickets</a>
          </li>
          <li class="footer-nav-item">
            <a href="#contacts" class="footer-nav-link">Contacts</a>
          </li>
        </ul>
      </nav>
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a href="https://www.youtube.com/user/louvre" class="footer-social-link">
            <div class="footer-social-img-wrapper">
              <svg class="footer-social-img" width="23" height="16">
                <title>Youtube</title>
                <use href="assets/icons/sprite.svg#youtube"></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="https://www.instagram.com/museelouvre/" class="footer-social-link">
            <div class="footer-social-img-wrapper">
              <svg class="footer-social-img" width="21" height="20">
                <title>Instagram</title>
                <use href="assets/icons/sprite.svg#instagram"></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="https://www.facebook.com/museedulouvre" class="footer-social-link">
            <div class="footer-social-img-wrapper">
              <svg class="footer-social-img" width="13" height="20">
                <title>Facebook</title>
                <use href="assets/icons/sprite.svg#facebook"></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="http://twitter.com/museelouvre" class="footer-social-link">
            <div class="footer-social-img-wrapper">
              <svg class="footer-social-img" width="20" height="17">
                <title>Twitter</title>
                <use href="assets/icons/sprite.svg#twitter"></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="https://www.pinterest.fr/museedulouvre/" class="footer-social-link">
            <div class="footer-social-img-wrapper">
              <svg class="footer-social-img" width="20" height="20">
                <title>Pinterest</title>
                <use href="assets/icons/sprite.svg#pinterest"></use>
              </svg>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-info-wrapper">
      <div class="footer-copyright">&copy; 2021</div>
      <div class="footer-school"><a href="https://rs.school/js" target="_blank" class="footer-school-link">The Rolling Scopes School</a></div>
      <div class="footer-github"><a href="https://github.com/webdev163/" target="_blank" class="footer-school-link">webdev163</a></div>
    </div>
  </div>
</footer>
<% for (var i in scripts) { %><script src="<%= scripts[i] %>"></script><% } %>
</body>

</html>
