<section class="section light-section video-section" id="video">
  <div class="container">
    <div class="img-wrapper">
      <img src="assets/img/video-screenshot.jpg" alt="Video screenshot" class="videopleer" width="1440" height="629">
      <button class="video-button">
        <svg class="video-button-img" width="220" height="220">
          <title>Play</title>
          <use href="assets/icons/sprite.svg#play-big"></use>
        </svg>
      </button>
    </div>
    <div class="control-panel">
      <button class="play-back pleer-button">
        <svg class="pleer-button-svg" width="27" height="30">
          <title>Play back</title>
          <use href="assets/icons/sprite.svg#play-back"></use>
        </svg>
      </button>
      <button class="play pleer-button">
        <svg class="pleer-button-svg" width="23" height="30">
          <title>Play</title>
          <use href="assets/icons/sprite.svg#play"></use>
        </svg>
      </button>
      <button class="play-forward pleer-button">
        <svg class="pleer-button-svg" width="27" height="30">
          <title>Play</title>
          <use href="assets/icons/sprite.svg#play-forward"></use>
        </svg>
      </button>
      <input type="range" value="40" min="0" max="100" step="1" class="progress progress-big">
      <button class="volume pleer-button">
        <svg class="pleer-button-svg" width="38" height="30">
          <title>Volume</title>
          <use href="assets/icons/sprite.svg#volume"></use>
        </svg>
      </button>
      <input type="range" value="40" min="0" max="100" step="1" class="progress progress-small">
      <button class="fullscreen pleer-button">
        <svg class="pleer-button-svg" width="36" height="36">
          <title>Fullscreen mode</title>
          <use href="assets/icons/sprite.svg#fullscreen"></use>
        </svg>
      </button>
    </div>
    <div class="video-info">
      <h2 class="section-title video-title">Video journey</h2>
      <p class="video-text">Enter and visit one of the most famous museums in the world and enjoy masterpieces such as
        Mona
        Lisa or Hammurabi's Code</p>
    </div>
  </div>
</section>