<section class="section dark-section welcome-section">
  <div class="container">
    <div class="welcome-container">
      <div class="welcome-info">
        <h2 class="section-title welcome-title">Welcome<br>to the Louvre</h2>
        <p class="welcome-text">From the castle to the museum</p>
        <a class="welcome-button"
          href="https://www.google.com/maps/@48.8618159,2.3366818,3a,75y,81.55h,73.4t/data=!3m7!1e1!3m5!1sAF1QipOVxZQuSy3Bx9T_HpH_7FtBHDTXvI6SF-A10ocT!2e10!3e12!7i5472!8i2736">Discover the Louvre</a>
      </div>
      <div class="welcome-image-wrapper">
        <img src="assets/img/welcome-slider/1.jpg" alt="welcome slide" class="welcome-image">
        <div class="welcome-controls">
          <div class="slider-counter">
            <span class="current-slider">01</span>
            <span class="slider-counter-divider">|</span>
            <span class="total-sliders">05</span>
          </div>
          <div class="slider-pagination">
            <button class="slider-pagination-item active"></button>
            <button class="slider-pagination-item"></button>
            <button class="slider-pagination-item"></button>
            <button class="slider-pagination-item"></button>
            <button class="slider-pagination-item"></button>
          </div>
          <div class="slider-arrows">
            <button class="slider-arrow">
              <svg class="slider-arrow-left" width="30" height="8">
                <use href="assets/icons/sprite.svg#arrow"></use>
              </svg>
            </button>
            <button class="slider-arrow">
              <svg class="slider-arrow-right" width="30" height="8">
                <use href="assets/icons/sprite.svg#arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>