<%- include("includes/header.html", { title: "Document" , styles: ["css/style.css"] }); %>

  <main class="main">
    <h1 class="visuallyhidden">Louvre museum site</h1>
    <%- include("includes/welcome.html"); %>

    <%- include("includes/visiting.html"); %>

    <%- include("includes/explore.html"); %>

    <%- include("includes/video.html"); %>

    <%- include("includes/tickets.html"); %>

    <%- include("includes/contacts.html"); %>
  </main>

<%- include("includes/footer.html", { scripts: ["js/main.js"] }); %>