// Mixins

@mixin font1 {
  font-family: "Steppe", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin font2 {
  font-family: "Neucha", sans-serif;
  font-style: normal;
  font-weight: 400;
}