*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #c2e0f0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: #919191 #e4e4e4;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-clip: content-box;
    background-color: #a8a8a8;
  }
}

img {
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

#app {
  position: relative;
  left: 0;
  transition: left .7s;
}

.btn {
  border: none;
  background: #660033;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .3s;
  &:hover {
    background-color: lighten(#660033, 10%);
  }
}