/* neucha-regular - latin_cyrillic */
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('../assets/fonts/neucha-v12-latin_cyrillic-regular.woff2') format('woff2'),
    url('../assets/fonts/neucha-v12-latin_cyrillic-regular.woff') format('woff');
}

/* steppe */
@font-face {
  font-family: 'Steppe';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/steppe.woff2') format('woff2'),
    url('../assets/fonts/steppe.woff') format('woff');
}
