.null-flex-item {
  width: 480px;
  flex-shrink: 0;
  @media screen and (max-width: 1250px) {
    display: none;
  }
}

.filters-main {
  display: flex;
  padding-top: 30px;
  padding-bottom: 50px;
  @media screen and (max-width: 1250px) {
    flex-direction: column;
  }
}

.grid-wrapper {
  padding-top: 20px;
  width: 100%;
  @media screen and (max-width: 1250px) {
    margin-top: 20px;
  }
  @media screen and (max-width: 1000px) {
    margin-top: 75px;
  }
}

.filters-title {
  @include font2;
  font-size: 42px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 32px;
}

.search-sorting-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  @media screen and (max-width: 1250px) {
    max-width: 500px;
  }
}

.search-input {
  background-color: #3B5757;
  border: 1px solid lighten(#3B5757, 20%);
  outline: none;
  color: $text-color;
  border-radius: 30px;
  padding: 10px 40px 8px 15px;
  width: 230px;
  font-size: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 11h-.79l-.28-.27A6.471 6.471 0 0 0 13 6.5 6.5 6.5 0 1 0 6.5 13c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L17.49 16l-4.99-5Zm-6 0C4.01 11 2 8.99 2 6.5S4.01 2 6.5 2 11 4.01 11 6.5 8.99 11 6.5 11Z' fill='%23fff'/%3E%3C/svg%3E");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: right 15px center;
  transition: background-color .3s;
  &::-webkit-search-cancel-button {
    display: none;
  }
  &:focus,
  &:hover {
    background-color: lighten(#3B5757, 10%);
  }
  &::placeholder {
    color: lighten(#3B5757, 50%);
  }
  &.active {
    background-image: none;
  }
  @media screen and (max-width: 1250px) {
    flex-grow: 1;
    margin-right: 10px;
  }
  @media screen and (max-width: 520px) {
    width: 47vw;
  }
}

.clear-btn {
  position: absolute;
  left: 195px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  display: none;
  cursor: pointer;
  &.active {
    display: block;
  }
}

.controls-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lighten(#3B5757, 40%);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.toys-count {
  width: 48px;
  height: 60px;
  background-image: url("../assets/img/ball.svg");
  background-size: 48px 60px;
  background-position: left -8px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  & span {
    margin-top: 3px;
  }
}

.controls-wrapper {
  position: fixed;
  width: 441px;
  padding-right: 10px;
  max-height: 95vh;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-clip: content-box;
    background-color: #7B9596;
  }
  @media screen and (max-width: 1250px) {
    position: static;
    width: 100%;
  }
  @media screen and (max-width: 1000px) {
    overflow-x: unset;
    overflow-y: visible;
  }
}

.controls-inner {
  @media screen and (max-width: 1250px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 470px;
  }
  @media screen and (max-width: 1000px) {
    max-height: unset;
    max-width: 500px;
    margin: 0 auto;
  }
}

.color-controls-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 30px;
}

.cards-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 36px;
  @media screen and (max-width: 1250px) {
    gap: 20px;
    margin-right: -1%;
  }
  @media screen and (max-width: 1000px) {
    margin-right: 0
  }
}

.card-item {
  flex-basis: 240px;
  background: $second-color;
  border-radius: 10px;
  padding: 18px 16px 10px;
  cursor: pointer;
  transition: filter .3s;
  @media screen and (max-width: 1915px) {
    flex-basis: 22%;
  }
  @media screen and (max-width: 1640px) {
    flex-basis: 30%;
  }
  @media screen and (max-width: 1250px) {
    flex-basis: 23.35%;
  }
  @media screen and (max-width: 1000px) {
    flex-basis: 31.5%;
  }
  @media screen and (max-width: 768px) {
    flex-basis: 48%;
  }
  @media screen and (max-width: 530px) {
    flex-basis: 100%;
  }
  &.chosen {
    filter: sepia(100%);
    &:hover {
      filter: sepia(100%);
    }
    & .add-btn {
      display: none;
    }
    & .delete-btn {
      display: block;
    }
  }
  &:hover {
    filter: brightness(115%);
  }
}

.card-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-btn {
  padding: 10px 20px 8px;
  margin-top: 18px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 530px) {
    width: 100%;
  }
}

.delete-btn {
  padding: 10px 20px 8px;
  margin-top: 18px;
  display: none;
  @media screen and (max-width: 530px) {
    width: 100%;
  }
}

.card-img-wrapper {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  margin-bottom: 16px;
  @media screen and (max-width: 530px) {
    width: 170px;
    height: 170px;
  }
}

.card-title {
  @include font2;
  margin: 0;
  min-height: 50px;
  margin-bottom: 14px;
}

.card-text-wrapper {
  & p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.sort-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.sort-select {
  background-color: #3B5757;
  color: $text-color;
  border-radius: 30px;
  padding: 10px 20px;
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m5 5.5 5-5H0l5 5Z' fill='%23fff'/%3E%3Cpath d='m5 5.5 5-5H0l5 5Z' fill='%23000' fill-opacity='.2'/%3E%3C/svg%3E");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right 15px center;
  -webkit-appearance: none;
  width: 185px;
  transition: background-color .3s;
  border: 1px solid lighten(#3B5757, 20%);
  &:hover {
    cursor: pointer;
    background-color: lighten(#3B5757, 10%);
  }
  @media screen and (max-width: 520px) {
    width: 40vw;
  }
}

.custom-dropdown {
  position: absolute;
  top: 30px;
  left: 2px;
  z-index: 9999;
  background-color: #3B5757;
  user-select: none;
  display: none;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid lighten(#3B5757, 5%);
  &.active {
    display: block;
  }
}

.custom-dropdown-item {
  width: 180px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: lighten(#3B5757, 10%);
  }
}

.shape-controls-inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: -22px;
}

.shape-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100px;
}

.shape-text {
  font-size: 12px;
  line-height: 14px;
}

.shape-btn {
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  transition: filter .3s;
  &:hover {
    filter: brightness(80%);
  }
  &.active {
    filter: invert(11%) sepia(63%) saturate(461%) hue-rotate(318deg) brightness(83%) contrast(145%);
  }
}

.shape-bell-btn {
  background-image: url("../assets/img/shape-bell.svg");
  height: 42px;
  width: 32px;
}

.shape-ball-btn {
  background-image: url("../assets/img/shape-ball.svg");
  height: 42px;
  width: 28px;
}

.shape-cone-btn {
  background-image: url("../assets/img/shape-cone.svg");
  height: 42px;
  width: 38px;
}

.shape-snowflake-btn {
  background-image: url("../assets/img/shape-snowflake.svg");
  height: 42px;
  width: 38px;
}

.shape-statuette-btn {
  background-image: url("../assets/img/shape-statuette.svg");
  height: 42px;
  width: 42px;
}

.checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 55px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
  transition: background-color .2s;
}

.checkbox-wrapper:nth-child(1) input~.checkmark {
  background-color: #fff;
  &:hover {
    background-color: #d8d8d8
  }
}
.checkbox-wrapper:nth-child(2) input~.checkmark {
  background-color: #FDD700;
  &:hover {
    background-color: lighten(#FDD700, 20%);
  }
}
.checkbox-wrapper:nth-child(3) input~.checkmark {
  background-color: #FD0000;
  &:hover {
    background-color: lighten(#FD0000, 20%);
  }
}
.checkbox-wrapper:nth-child(4) input~.checkmark {
  background-color: #2299EB;
  &:hover {
    background-color: lighten(#2299EB, 10%);
  }
}
.checkbox-wrapper:nth-child(5) input~.checkmark {
  background-color: #08AA05;
  &:hover {
    background-color: lighten(#08AA05, 5%);
  }
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-wrapper input:checked~.checkmark:after {
  display: block;
}

.checkbox-wrapper .checkmark:after {
  left: 9px;
  top: 5px;
  width: 8px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.size-controls-wrapper {
  margin-bottom: 20px;
}

.color-controls-wrapper .checkbox-wrapper:nth-child(1) .checkmark:after,
.color-controls-wrapper .checkbox-wrapper:nth-child(2) .checkmark:after {
  left: 9px;
  top: 5px;
  width: 8px;
  height: 12px;
  border: solid #3b3b3b;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.size-controls-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
}

.checkbox-size {
  padding-left: 35px;
  font-size: 16px;
  line-height: 19px;
  transition: background-color .3s;
  

  & .checkmark {
    width: 20px;
    height: 20px;
    margin-top: -2px;
    background-color: #3B5757 !important;
    border: 1px solid lighten(#3B5757, 30%);
    &:after {
      left: 5px;
      top: 1px;
      width: 8px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    
  }
  &:hover .checkmark {
    background-color: lighten(#3B5757, 10%) !important;
  }
}

.reset-button,
.reset-button-ls {
  margin-top: 10px;
  padding: 7px 20px;
  margin-bottom: 10px;
  @media screen and (max-width: 1000px) {
    max-width: 500px;
  }
}

.reset-button-ls {
  margin-left: 10px;
  @media screen and (max-width: 1250px) {
    margin-left: 0;
  }
}

.favorite-controls-wrapper {
  margin-bottom: 20px;
}

.no-overlap-title {
  text-align: center;
  font-size: 22px;
  margin-top: 50px;
}
