.footer {
  position: fixed;
  bottom: 15px;
  left: 350px;
  @media screen and (max-width: 1250px) {
    position: static;
    padding-bottom: 20px;
  }
}

.footer-container {
  width: 92%;
  margin: 0 auto;
  @media screen and (max-width: 1250px) {
    width: 100%;
  }
}

.footer-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 20px;
  color: #000;
  max-width: 150px;

  & a {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}

.footer-rsschool {
  margin-left: 10px;
  animation-name: up-down;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  animation-play-state: paused;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  filter: invert(100%);

  &:hover {
    animation-play-state: running;
  }
}

.footer-github-link {
  animation-name: up-down;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  animation-play-state: paused;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  filter: invert(100%);

  &:hover {
    animation-play-state: running;
  }
}

.footer-copyright {
  margin-top: 10px;
  font-size: 14px;
  color: $text-color;
}