.main-menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;
  width: 300px;
  margin-left: -14px;
  margin-top: 0;
  margin-bottom: 0;
}

.main-menu-item {
  list-style: none;
  text-transform: uppercase;
  @include font2;
  font-size: 22px;
  padding: 7px 15px;
  & a {
    text-decoration: none;
    color: inherit;
    transition: color .3s;
    display: inline-block;
    padding-bottom: 3px;
  }
  &:hover {
    cursor: pointer;
    a {
      color: #ffde98;
    }
    &.active {
      cursor: default;
      a {
        color: #ffeabc;
        cursor: default;
      }
    } 
  }
  &.active a {
    border-bottom: 1px solid #ffeabc;
    color: #ffeabc;
  }
}

.main-menu.main-page {
  position: absolute;
  top: 25px;
  left: 35px;
}